<mat-drawer-container>
  <mat-drawer mode="side" opened>
    <mat-tab-group>
      <mat-tab label="Figures">
        <section>
          <div class="row">
            <div class="col-xs-12 selectors-images">
              <div class="row">
                <div class="col-xs-12 col-md-4">
                  <mat-card matRipple (click)="add('ESCUDO')">
                    <mat-card-content>
                      <img
                        width="100"
                        height="100"
                        src="assets/svgs/shield-one.svg"
                        alt=""
                      />
                    </mat-card-content>
                  </mat-card>
                </div>
                <div class="col-xs-12 col-md-4">
                  <mat-card matRipple (click)="add('GOOGLE')">
                    <mat-card-content>
                      <img
                        width="100"
                        height="100"
                        src="assets/svgs/google-g-logo.svg"
                        alt=""
                      />
                    </mat-card-content>
                  </mat-card>
                </div>
              </div>
            </div>
            <div class="col-xs-12">
              <button
                type="button"
                class="btn btn-primary"
                (click)="download()"
              >
                Log JSON
              </button>
              <button
                type="button"
                class="btn btn-primary"
                (click)="exportImage()"
              >
                download
              </button>
            </div>
          </div>
        </section>
      </mat-tab>
      <mat-tab label="Text">
        <button mat-raised-button color="primary" (click)="add('TEXT')">
          add text
        </button>
      </mat-tab>
    </mat-tab-group>
  </mat-drawer>
  <mat-drawer-content>
    <section>
      <div class="row">
        <div class="col-xs-12 linha-acoes">
          <div *ngIf="selectedObject && showTextControl">
            <input
              type="text"
              [formControl]="selectedObject.textControl"
              [disabled]="!isSomethingSelected"
            />
          </div>

          <div *ngIf="isSomethingSelected">
            <input
              type="color"
              *ngFor="let colorControl of selectedObject?.colorControls"
              [formControl]="colorControl"
              [disabled]="!isSomethingSelected"
            />
          </div>
          <button
            [disabled]="!isSomethingSelected"
            mat-raised-button
            color="primary"
            (click)="moveDown()"
          >
            <mat-icon>expand_more</mat-icon>
          </button>
          <button
            [disabled]="!isSomethingSelected"
            mat-raised-button
            color="primary"
            (click)="moveUp()"
          >
            <mat-icon>expand_less</mat-icon>
          </button>
          <button
            [disabled]="!isSomethingSelected"
            mat-raised-button
            color="primary"
            (click)="destroy()"
          >
            Erase
          </button>
        </div>
        <div class="col-xs-12"><div id="container"></div></div>
        <div class="col-xs-12">
          <button
            [disabled]="layers.length === 0"
            mat-raised-button
            color="primary"
            (click)="resetCanva()"
          >
            Limpar tela
          </button>
        </div>
      </div>
    </section>
  </mat-drawer-content>
</mat-drawer-container>
