section {
  background-color: #424242;
  position: fixed;
  width: 100%;
  height: 100%;
}

#container {
  background-color: #bdbdbd;
  display: block;
  width: fit-content;
}

.escudo {
  fill: red;
}
