section,
.mat-drawer-container {
  background-color: #424242;
  width: 100%;
  height: 100%;
}

#container {
  background-color: #bdbdbd;
  display: block;
  width: fit-content;
}

.escudo {
  fill: red;
}

button {
  margin: 4px;
}

.linha-acoes {
  height: 100px;
}

.selectors-images {
  & > img {
    width: 100px;
    height: 100px;
    margin: 10px;
  }
}
