/* You can add global styles to this file, and also import other style files */

// fonts
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fasthand&display=swap");
@font-face {
  font-family: Cyberpunk;
  src: local(Cyberpunk), url("./assets/fonts/Cyberpunk/Cyberpunk.ttf");
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-drawer-inner-container {
  background-color: #424242;

  .mat-tab-label-content {
    color: #fff;
  }

  .mat-ink-bar {
    background-color: #fff !important;
  }
}

.mat-tab-group,
.mat-tab-body-wrapper {
  display: block;
  height: 100%;
}
